.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .grid-item {
    margin: 15px;
  }

  .sortieren, .sortierenList{
    background-color: silver;
  }
  .sortierenList{
    font-size: 15px;
    list-style: square;
  }
