.impressum-h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 65px;
}

.impressum-h2 {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 25px;
    
}

.p-impressum {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 18px;
   
}