* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* zweite Ebene */
.cContent {
    background-color: #6195b8;
}

/* dritte Ebene */

.cArticleLayout, .descTableReq {
    background-color: #6ba5cc;
    border-radius: 8px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.6);
}

.cContent, .cArticleLayout {
    border-radius: 8px;
}

.cContent {
    flex-basis: auto;
    display: flex;
    height: auto;
    flex-direction: column; 
    margin: 5% 10% 5% 10%;
    box-shadow: 0 3px 5px rgba(0,0, 0, .6);
    padding: 20px;
}

.cArticleLayout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start ;
    margin-bottom: 30px;

}

.cArticleAndDescription {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cPictureArticle {
    height: 300px;
    width: 300px;
    flex: 0 0 auto;
    margin-right: 2%;
}

.imgArticle {
    height: 300px;
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cDescriptionArticle {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    padding: 10px;
    flex-basis: content;
}

.cAdd {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 20px 0;
}

.addButton {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(176, 176, 176);
    color: #1f1f1f;  
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    
}

.addButtonReq {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(176, 176, 176);
    color: #1f1f1f;  
    padding: 0%;
    border-radius: 100%;
    flex-shrink: 0;
    overflow:hidden;
    
}

.buttonIconReq {
    font-size: 0em;
}

.addButton:active {
    background-color: rgb(183, 183, 183);
    border: 1px solid rgb(150, 150, 150);
}

.buttonIcon {
    font-size: 0em;
    padding-left: 10px;
}

.descTh, .descTd {
    text-align: start;
    padding: 10px 0 10px 0;
    font-size: 20px;

} 

.descTh {
    padding-right: 10px;
    font-weight: bold;
}

.descTd {
    padding-right: 10px;
}

.cRequirements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


}


.cRecRequirement,.cMinRequirement {
    flex: 1;
    flex-basis: content;
    margin: 0 0 20px 0;
}

.descTitle {
    font-weight: bold;
    font-size: 22px;
    text-align: start;
    border-bottom:1px solid #444;
}

.descTableReq {
    padding: 10px 15px 10px 15px;
}


/* Text */

.articleText {
    text-align: start;
    padding: 0 2% 0 2%;
}

.articleTitleText {
    font-size: 33px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.priceText {
    font-size: 30px;
    font-weight: bolder;
    width: 300px;
}