.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-radius: 5px;
  }
  .grid-item {
    font-size: 30px;
    text-align: center;
    height:139.4px;
  }

  .sortieren, .sortierenList{
    background-color: silver;
  }
  .sortierenList{
    font-size: 15px;
    list-style: square;
  }
  
  div{
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  
  p {
    text-align: center;
    font-size: 15px;
    color: black;
  }