.impressum-h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 65px;
}

.p-impressum {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 20px; 
}