*
{
  color:black;
  font-size: 28px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: Garamond, serif; font-weight: 400;
  margin: 0;
  background-color: #4e7793;
}

header{
  float: top;
  text-align:left;
  display: block;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50px;
}

.NavList {
  display: inline-block;
}


li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 40px;
  padding-left: 100px;
  padding-right: 100px;
  text-decoration: underline black;
}

div{
  display: inline-block;
  text-align: center;
  width: 100%;
}

p {
  text-align: center;
  font-size: 15px;
  color: black;
}

footer{
 
  width: 100%;
  height: 200px;
  background-color: lightblue;
}
footer p, footer h1, footer div{

  background-color: lightblue;
}footer p{
  font-size: 17px;

}
footer div{
width: 33%;
}

#footerLink, #footerLink p {
  background-color: lightblue;
  text-decoration: none;
}
.fa{
  margin: 0;
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  background-color: red;
  border-radius: 100%;
  color: white;

}
.fa:hover{
  opacity: 0.5;
}
.fa-facebook{
  background-color:#3b5998  ;
}
.fa-twitter{
  background-color: #00acee;
}
.fa-instagram{
  background-color: #125688;
}
#newsletter{
  width: 325px;
  border: none;
  color: white;
}
#newsletter::placeholder{
  color: rgb(184, 184, 184);
}


/* SlideShow */

.slideshowGesamt{
  width: 700px;
  height: 400px;
  overflow: hidden;
  
}
.middle{
  position: relative;
  left: 50%;
  margin-top: 250px;
  transform: translate(-50%, -50%) ;
  
}
.slideshowNavigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-25%);
  display: flex;
  background: none;
}
.slideshowBar{
  
  width: 50px;
  height: 10px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer;
  background: none;
}
.slideshowBar:hover{
  background-color: lightblue;
  transition: 0.4s;

}
input[name="radioButtonSlideShow1"]{
  position: absolute;
  visibility: hidden;
}
.slideshow{
  width: 500%;
  height: 100%;
  display: flex;
}
.slider{
  width: 20%;
  transition: 0.6s;
}
.slider img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .img1{
  margin-left: 0;

}
#r2:checked ~ .img1{
  margin-left: -20%;
}

#r3:checked ~ .img1{
  margin-left: -40%;
}
#r4:checked ~ .img1{
  margin-left: -60%;
}
#r5:checked ~ .img1{
  margin-left: -80%;
}

.SlideshowNext{
  margin-top: 250px;
  position: absolute;
  background: none;
  transform: translateX( -50%) ;
  left: 72%;
}
.SlideshowPrevious{
  margin-top: 250px;
  position: absolute;
  background: none;
  transform: translateX( -50%) ;
  left: 28%;

}
#SlideNextButton, #SlidePreviousButton{
  border: none;
}
